<center>

 
  <h2 style="margin-top:-40px;margin-bottom:40px">Track Down Mutual Followers </h2>

  <%= form_tag '/', :id => 'new_stalk',:name=>'new_stalk', :method=>:get do%>
    <div style="text-align:left;width:500px;">
      <%=text_field_tag 'q',params['q']  %>
      <input type="submit" value="Search" id="submit"/><br/>
      <% if @subject_count==0 then%>
        <div class="help">
          Tip: Narrow followers by searching <b>multiple</b> twitter users
          <br/><br/>
          Examples
          <table width="100%" cellspacing="0" cellmargin="0">
            <tr>
              <td>
                <a href="/?q=danielissimo,rauchy">danielissimo,rauchy</a>
              </td>
              <td>
                <a href="/?q=liorsion,arikfr,unativ">liorsion,arikfr,unativ</a>
              </td>
              <td>
                <a href="/?q=aviavital,danielissimo">aviavital,danielissimo </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="/?q=avish,liorz">avish,liorz</a>
              </td>
              <td>
                <a href="/?q=erezcarmel,aloncarmel,grimland,yaronta ">erezcarmel,aloncarmel,grimland,yaronta </a>
              </td>
              <td>
                <a href="/?q=chekofif,roniyaniv">chekofif,roniyaniv </a>
              </td>
            </tr>
          </table>
          </div>
        <%end%>
     </div>
  <%end%>
  <% if @subject_count==1%>
    <div class="notice">
      add more users to track down mutual followers 
      <div class="example">
        for example <b><%=params[:q]%>,danielissimo</b> <a href="javascript:demo_multiple_users()">show me how ?</a>
      </div>
    </div>
  <%end%>
</center>
<div class="results">
  <%if @results%>
    <h3>Stalkees</h3>
    <div class="stalkee">
      <%@results['stalkees'].each do |stalkee|%>
        <div style="float:left;margin-right:20px;">
          <%=image_tag stalkee['profile_image']%>
          <span><%=stalkee['name']%></span>
        </div>
      <%end%>
    </div> 
    <div style="clear:both"></div>
    <h3>Mutual Followers</h3>
    <%@results['followers'].each do |follower|%>
      <div class="follower">
        <%=image_tag follower['profile_image'],:width=>48 ,:height=>48,:align=>'left',:style=>'margin:2px'%>
        <%=link_to "@#{follower['screen_name']}","http://www.twitter.com/#{follower['screen_name']}"%>
        <br/>
        <span><%=follower['name']%></span>

      </div> 
    <%end%>
  <%end%>
  <div style="clear:both"></div>
</div> 

