<!DOCTYPE html>
<html>
<head>
  <title>TweetStalker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="https://github.com/codeinvain/TwitterStalker"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
<center>
 <a href="/" border="0">
    <%= image_tag "logo.png",:alt=>'Twitter Stalker' ,:style=>"padding-top:1px;margin-bottom:-30px;"%>
  </a>
</center>
<%= yield %>
<div class="footer">
  by  <a href="http://www.twitter.com/rauchy">@rauchy</a> / <a href="http://www.twitter.com/unativ">@unativ</a> / <a href="http://www.twitter.com/danielissimo">@danielissimo</a>
  <br/>
  <a href="http://www.meetup.com/IsraelRubyUnderground/photos/3574042/#59007662">for hackaton #1 </a>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26103967-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

